.navigation-container {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #4e4e4e;
}

.navigation-section {
  height: 50px;
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navigation-subsection {
  width: 100%;
  display: flex;
  justify-content: center;
}

.navigation-subsection-right {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-name {
  color: white;
  text-wrap: nowrap;
  margin-left: 14px;
}

.disabled {
  cursor: not-allowed;
}

@media (min-width: 960px) {
  .navigation-section {
    flex-direction: row;
    justify-content: flex-end;
  }

  .nav-name {
    margin-left: 94px;
  }

  .nav-link {
    color: #f1f1f1;
    text-decoration: none;
    margin: 0 23px;
  }

  .nav-link:last-child {
    margin-right: 90px;
  }
}

@media (hover: hover) {
  .nav-link:hover {
    color: white;
  }
}
