.specialist-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.specialist-title {
  font-size: 36px;
}

.philip {
  --photo: url(../../data/philip.jpg);
}

.ursula {
  --photo: url(../../data/ursula.jpg);
}

.specialist-photo {
  background: var(--photo) center no-repeat;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  min-width: 200px;
  aspect-ratio: 1;
  margin-top: 54px;
  margin-bottom: 42px;
}

.specialist-info-box {
  display: flex;
  flex-direction: column;
}

.specialist-name {
  margin-bottom: 1em;
  align-self: flex-start;
}

.specialist-text {
  text-align: justify;
}

@media (min-width: 960px) {
  .specialist-title {
    align-self: flex-start;
  }

  .specialist-box {
    flex-direction: row;
    gap: 60px;
  }

  .specialist-name {
    align-self: unset;
  }

  .specialist-text {
    text-align: unset;
  }
  .specialist-box:nth-of-type(even) {
    flex-direction: row-reverse;
  }

  .specialist-box:nth-of-type(even) .specialist-info-box {
    text-align: right;
  }
}
