.specialist-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.specialists-section {
  width: 90%;
  background-color: white;
  margin: 34px 14px;
}

.specialist-title {
  font-size: 36px;
}

@media (min-width: 960px) {
  .specialist-title {
    align-self: flex-start;
  }

  .specialists-section {
    margin: 51px auto;
  }
}
