.specialist-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.specialists-section {
  width: 90%;
  background-color: white;
}

.specialist-title {
  font-size: 36px;
}

@media (min-width: 960px) {
  .specialist-title {
    align-self: flex-start;
  }
}
